<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/styles/add-update-visit.css">
    <title>Add / Update Visit</title>
</head>
<body>
    <div class="layout">
    <aside>
        <a href="student-search.html">⬅️</a>
    </aside>

    <div class = "main-body">
        <div class="head-banner">
            <div class="logo">
                <img src="../styles/images/image.png">
                <h2>BITS Clinic</h2>
            </div>
            <div class="nurse-profile"></div>
        </div>

        <h1>Add / Update Visit</h1>

        <div class="add-update-visit-container">
            <h2>Student Information</h2>
            <p class="student-name">Student Name: </p>
            <p class="studentID">Student ID: </p>
            <hr>

            <div class="visit-detail-container">
                <h2>Visit Details</h2>
                <p class="subtitle">Log the reason for the student's visit and the exact time.</p>
            </div>

            <form id="visitForm">

                <label for="reason">Reason for vist</label> <br>
                <textarea name="reason" id="reason" rows="4" placeholder="E.g., Sore throat, minor cut, fever, medication administration..." ></textarea>

                <div class="date-time">
                    <div>
                    <label for="date">Date</label> <br>
                    <input type="date" id="date" name="date" required>
                    </div>

                    <div>
                    <label for="time">Time</label> <br>
                    <input type="time" id="time" name="time">
                    </div>
                </div>

                <div class="emergencyType-container">
                    <h2>Emergency Type</h2>
                    <p class="subtitle">Select an emergency type if applicable to trigger notifications.</p>
                </div>

                <label for="emergency-category">Emergency Category</label> <br>
                <select id="emergency-category" name="emergency-category"  required>
                    <option value="" disabled selected>Select an emergency type</option>
                    <option value="emergency">Emergency</option>
                    <option value="non-emergency">Non-Emergency</option>
                </select>

                <div class="actions-container">
                    <h2>Action Taken / Notes</h2>
                    <p class="subtitle">Document all actions, observations, and instructions given to the student.</p>
                </div>
            
                <label for="detailed-notes">Detailed Notes</label> <br>
                <textarea name="detailed-notes" id="detailed-notes" rows="4" placeholder="E.g., Administered Ibuprofen, applied bandage, advised rest, parent contacted..."></textarea>

                <div class="button-container">
                    <button type="submit" name="action" value="save" id="save">Save Visit</button>
                    <button type="submit" name="action" value="save_and_new" id="save_and_new">Save & Add New</button>
                    <button type="button" onclick="history.back()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
    </div>
</body>
</html>