<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/styles/student-search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <title>Student Search</title>
</head>
<body>
    <div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <nav>
        <a href="#" class="menu-item"><i class="fa-solid fa-house"></i> <span>Dashboard</span></a>
        <a class="menu-item" href="student-search.html"><i class="fa-solid fa-magnifying-glass"></i> <span>Student Search</span> </a>
        <a href="add-update-visit.html" class="menu-item"><i class="fa-solid fa-user-plus"></i><span>Add / Update Visit</span></a>
        <a href="#" class="menu-item"><i class="fa-solid fa-notes-medical"></i> <span>Medical Records</span></a>
        <a href="prescriptions.html" class="menu-item"><i class="fa-solid fa-prescription"></i> <span>Prescriptions</span></a>
        <a href="#" class="menu-item"><i class="fa-solid fa-triangle-exclamation"></i> <span>Emergency Handling</span></a>
        </nav>
        
        <nav class="bottom-nav">
        <a href="#" class="menu-item"><i class="fa-solid fa-gear"></i><span>Settings</span></a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="content">

        <div class="head-banner">
            <div class="logo">
                <img src="/frontend/styles/images/image.png" id="logo">
                <h2>BITS Clinic</h2>
            </div>
            <div class="nurse-profile"></div>
        </div>

        <h1>Student Search</h1>

        <!-- Search Bar -->
        <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search by student ID or name..." />
        <button id="searchBtn">
           <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        </div>

        <!-- Filters -->
        <div class="filters">
        <select id="gradeFilter">
            <option value="">All Years</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <select id="visitFilter">
            <option value="">All Visits</option>
            <option value="recent">Recent Visits</option>
        </select>
        </div>

        <!-- Results Table -->
        <table>
        <thead>
            <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Year</th>
            <th>Recent Visit</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody id="studentTableBody">
            
        </tbody>
        </table>

        <!-- Pagination -->
        <div id="pagination" class="pagination"></div>

    </main>

    </div>

<script src="../js/student-search.js"></script>
    
</body>
</html>