<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/styles/student-search-profile.css">
    <title>Student Profile</title>
</head>
<body>
    <div class="side-bar">
        <nav class="top">
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Student Search</a></li>
                <li><a href="">Add/Update Visit</a></li>
                <li><a href="">Medical Records</a></li>
                <li><a href="">Prescriptions</a></li>
                <li><a href="">Emergency Handling</a></li>
            </ul>
        </nav>
        <nav class="bottom">
            <ul>
                <li><a href="">Settings</a></li>
            </ul>
        </nav>
    </div>


    <div class = "main-body">
        <div class="head-banner">
            <div class="logo">
                <img src="">
                <p class="logo-txt">BITS Clinic</p>
            </div>
            <div class="student-profile"></div>
        </div>

        <div class="student-view">
            <div class="student-id-view"></div>
            <div class="mini-container">
                <div class="add-visit">Add visit</div>
                <div class="edit-medical-record">Edit Medical Record</div>
            </div>
        </div>

        <div class="student-info-table">
            <div class="student-details"></div>
            <div class="medical-record-details"></div>
            <div class="visit-history"></div>
        </div>

        <footer>
            2026 BITS Clinic. All rights reserved.
        </footer>
    </div>

</body>
</html>