<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/styles/student-search.css">
    <title>Student Search</title>
</head>
<body>
    <div class="side-bar">
        <nav class="top">
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="student-search.html">Student Search</a></li>
                <li><a href="add-update-visit.html">Add/Update Visit</a></li>
                <li><a href="">Medical Records</a></li>
                <li><a href="prescriptions.html">Prescriptions</a></li>
                <li><a href="">Emergency Handling</a></li>
            </ul>
        </nav>

        <nav class="bottom">
            <ul>
                <li><a href="">Settings</a></li>
            </ul>
        </nav>
    </div>


    <div class = "main-body">
        <div class="head-banner">
            <div class="logo">
                <img src="">
                <p class="logo-txt">BITS Clinic</p>
            </div>
            <div class="student-profile"></div>
        </div>

        <div class="student-search-body">
            <div class="student-search-title">Student Search</div>
            <div class="student-search-filter"></div>
            <div class="matching-students"></div>
            <div class="page-number"></div>
        </div>

        <footer>
            2026 BITS Clinic. All rights reserved.
        </footer>
    </div>
    
</body>
</html>