.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
  width: 220px;
  transition: width 0.3s;
  overflow: hidden;
  background: #ffffff;
  padding: 12px 18px;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar.collapsed a span {
  display: none;
}

.sidebar a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: #444;
  text-decoration: none;
  margin-bottom: 5px;
  gap: 12px;
  border-radius: 12px;
  transition: background 0.3s, color 0.3s;
}

.sidebar a.active {
  background: #55DBF6FF;
  color: white;
}

.sidebar a:hover {
  background: #55DBF6FF;
  color: white;
}

.bottom-nav a {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.head-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F4F5F6FF;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #1dbcd2;
}

.logo img {
  width: 36px;
  height: 36px;
}

.nurse-profile {
  border-radius: 50%;
  background: #e5e7eb;
  width: 48px;
  height: 48px;
}

.main-body {
    flex: 1;
    padding: 0px 30px 30px 30px;
}


.midsection-container {
  margin-inline: auto;
  width: 100%;
  max-width: 896px;
  gap: 10px;
}

#medication-name {
  border: 1px solid #DDE2E4FF;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin-top: 8px;
}

.dosage-container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

#amount, #unit, #frequency {
  border: 1px solid #DDE2E4FF;
  border-radius: 8px;
  padding: 6px;
  margin-top: 8px;
}

#instructions, #notes {
  border: 1px solid #DDE2E4FF;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  margin-top: 8px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

#save, #cancel {
  padding: 15px;
  border-radius: 15px;
  background: white;
  border: 1px solid #DDE2E4FF;
}

#save:hover, #cancel:hover {
  background: #55DBF6FF;
  color: white;
  cursor: pointer;
}
