.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
  width: 220px;
  transition: width 0.3s;
  overflow: hidden;
  background: #ffffff;
  padding: 12px 18px;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar.collapsed a span {
  display: none;
}

.sidebar a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: #444;
  text-decoration: none;
  margin-bottom: 5px;
  gap: 12px;
  border-radius: 12px;
  transition: background 0.3s, color 0.3s;
}

.sidebar a.active {
  background: #55DBF6FF;
  color: white;
}

.sidebar a:hover {
  background: #55DBF6FF;
  color: white;
}

.bottom-nav a {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.head-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F4F5F6FF;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #1dbcd2;
}

.logo img {
  width: 36px;
  height: 36px;
}

.nurse-profile {
  border-radius: 50%;
  background: #e5e7eb;
  width: 48px;
  height: 48px;
}


.main-body {
    width: 100%;
    padding: 10px 30px;
}

.student-view {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.mini-container {
    gap: 10px;
    margin-top: 10px;
}

.mini-container a {
    text-decoration: none;
    color: #444;
    border: 1px solid #e5e7eb;
    padding: 15px;
    border-radius: 8px;
}

.mini-container a:hover {
    background: #55DBF6FF;
    color: white;
}

button:hover {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

button {
    background: white;
    border: none;
    padding: 10px;
}

button.active {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
}

.student-info-table {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    width: 100%;
}
